

<!-- <div>
  <p><a ng-click="$ctrl.sort()" class="btn btn-info">SORT</a></p>
</div> -->
<div class="row">
  <div class="col-md-12">

    <div class="well" ng-repeat="project in $ctrl.projects | filter:search | orderBy:-vote_count">

      <div class="media-left">
<a ui-sref="cpt.comment({id: project.id})">
        <img class="media-object" ng-src="{{ project.image_url }}">
</a>
        <!-- THIS IS THE IMAGE ASSOCIATED WITH THE POST -->
        <p class="text-center">
          <a ui-sref="cpt.edit({id: project.id})">Edit</a>

        </p>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
        {{ project.title }}
          |
          <a ng-click="$ctrl.likes(project, 1)"><i class="glyphicon glyphicon-arrow-up"></i></a>
          <a ng-click="$ctrl.likes(project, 0)"><i class="glyphicon glyphicon-arrow-down"></i></a>

            {{ project.vote_count }}
              </h4>
          <span class="has-error" ng-if="project.negative">No Negativity here man.</span>

        <div class="text-right">
          {{ project.author }}
        </div>
        <p>
          {{ project.body }}
        </p>
        <span am-time-ago=" project.created_at"></span> |
        <i class="glyphicon glyphicon-comment"></i>
        <!-- TRUE DISPLAYS THE COMMENT(S) -->
        <a ui-sref="cpt.comment({id: project.id})">
            {{ project.comments.length}}
            <ng-pluralize count="project.comments.length" when="{'0': 'Comments', 'one': 'Comment', 'other': 'Comments'}"></ng-pluralize>
          </a>

      </div>
      <!-- media body(POST title, likes, author, body) /div -->
    </div>
    <!-- ng-repeat for all projects /div -->
  </div>
  <!--  col-md-12 /div -->
</div>
<!-- row /div -->
</div>
